# VS and VSCODE folders, always a pain in the butt
fan-animation/.vs/*
fan-animation/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
fan-animation/*.code-workspace
# Local History for Visual Studio Code
fan-animation/.history/

# Prerequisites
fan-animation/*.d

# Compiled Object files
fan-animation/*.slo
fan-animation/*.lo
fan-animation/*.o
fan-animation/*.obj

# Precompiled Headers
fan-animation/*.gch
fan-animation/*.pch

# Compiled Dynamic libraries
fan-animation/*.so
fan-animation/*.dylib
fan-animation/*.dll

# Compiled Static libraries
fan-animation/*.lai
fan-animation/*.la
fan-animation/*.a
fan-animation/*.lib

# Executables
fan-animation/*.exe
fan-animation/*.out
fan-animation/*.app
