# VS and VSCODE folders, always a pain in the butt
fan-animate/.vs/*
fan-animate/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
fan-animate/*.code-workspace
# Local History for Visual Studio Code
fan-animate/.history/

# Prerequisites
fan-animate/*.d

# Compiled Object files
fan-animate/*.slo
fan-animate/*.lo
fan-animate/*.o
fan-animate/*.obj

# Precompiled Headers
fan-animate/*.gch
fan-animate/*.pch

# Compiled Dynamic libraries
fan-animate/*.so
fan-animate/*.dylib
fan-animate/*.dll

# Compiled Static libraries
fan-animate/*.lai
fan-animate/*.la
fan-animate/*.a
fan-animate/*.lib

# Executables
fan-animate/*.exe
fan-animate/*.out
fan-animate/*.app
